qanban/stacktrace.log
qanban/web-app/WEB-INF/tld/
qanban/test/reports
qanban/Qanban*.war
qanban/web-app/plugins/
qanban/*~
qanban/grails-app/conf/SecurityConfig.groovy
qanban/*.iml
qanban/*.ipr
qanban/*.iws
qanban/.idea
qanban/cobertura.ser
qanban/prodDb.*
qanban/out/
qanban/qanban*Db.*
qanban/devDB.*
qanban/devDb.*
*.ipr
*.iws
qanban-domain-plugin/stacktrace.log
qanban-domain-plugin/*.iml
qanban-domain-plugin/*.ipr
qanban-domain-plugin/*.iws
qanban-domain-plugin/.idea
qanban-domain-plugin/cobertura.ser
qanban-domain-plugin/test/reports/
qanban-domain-plugin/*~
*~
qanban/projectFilesBackup/
