qanban/stacktrace.log
qanban/web-app/WEB-INF/tld/
qanban/test/reports
qanban/Qanban*.war
qanban/web-app/plugins/
qanban/*~
qanban/grails-app/conf/SecurityConfig.groovy
qanban/*.iml
qanban/*.ipr
qanban/*.iws
qanban/.idea
qanban/cobertura.ser
qanban/prodDb.*
qanban/out/
qanban/qanban*Db.*
qanban/devDB.*
qanban/devDb.*
*.ipr
*.iws
*.iml
.idea
qanban-domain-plugin/stacktrace.log
