.descLabel {
    padding-left: 1px;
    font-weight: bold;
}

#moveCardDialog #moveMessage{
 padding: 10px;

}

#cardForm input[disabled], #cardForm textarea[disabled] {
 color: #333;
}

#cardForm  .header {
 height: 44px;
 margin: 0 2px 0 2px;
 padding: 2px;
 border-bottom: 1px solid #ddd;
 position: relative;
}

#cardForm .header .assignee {
 float: left;
 padding:2px;
 background-color: #fdfdfd;
 border: 1px solid #000;
 position: absolute;
 z-index: 3000;
 min-height: 38px;
 min-width: 38px;
}

#cardForm .header input{
 font-size: 20px;
 font-weight: bold;
 width: 323px;
 margin-left: 3px;
 text-indent: 4px;
}

.edit{
 background-color: transparent !important;
 border: 1px solid #ddd !important;
}

#cardForm .header .show{
 font-size:20px;
 font-weight: bold;
 width: 326px;
 text-indent: 4px;
}


#cardForm .header .info{
 width: 326px;
 float: left;
 margin-left: 44px;
}

#cardForm { overflow-x: hidden;}
#cardForm .header .date{
 display: inline-block;
 font-size: 11px;
 padding: 3px 5px 1px 10px;
 position: relative;
 width: 160px;
 float: left;
}

#cardForm .caseNumberWrapper{ float: left; width: 120px; padding-left: 31px;}
#cardForm .caseNumberWrapper *{ line-height: 1.7em; font-size: 1.0em !important;}
#cardForm .caseNumberWrapper input{  width: 34px !important; line-height: 1.3em; margin-top: 2px;}
#cardForm .caseNumberWrapper .show{  width: 36px !important; }
#cardForm .content {
 margin: 0 2px 0 2px;
 padding: 2px;
}

#cardForm  .content textarea {
 margin: 0px;
 width: 370px;
 padding: 2px;
 min-height: 10em;
}

#cardForm  select { width: 370px; margin-top: 10px;}

#cardForm .top { background-color: #cc0000; }

.editField {
  background-color: transparent !important;
  border: 1px solid black !important;
}

#createCardDialog .property {
 background-color: transparent;
 border: 1px solid #ddd;
 }

 #editCardDialog .property {
 background-color: transparent;
 border: 1px solid transparent;
 border-bottom: 1px solid #fff;
 border-right: 1px solid #fff;
}

#editCardDialog .descriptionProp {
 max-height: 10em;
 overflow: auto;
}

#moveCardDialog .property {
 background-color: transparent;
 border: 1px solid transparent;
 border-bottom: 1px solid #fff;
 border-right: 1px solid #fff;
}

.dropdownContainer{
    float: left;
    padding:2px;
    background-color: #fdfdfd;
    border: 1px solid #000;
    position: absolute;
    z-index: 3000;

}

#assignees{
    display: none;
    max-height: 150px;
    overflow-y: scroll;
    position:relative;
    padding-top: 2px;
    border-top: 1px solid #000;
    margin-top:2px;
}

#assignees li {
    float: none;
    display: block;
    height: 30px;
    cursor: pointer;
    margin-top: 1px;
}

#assignees li:hover {
    background-color: #eeeeee;
}

#assignees li.selected {
    background-color: #e3a1a1;
}

#assignees li.selected:hover {
    background-color: #cc0000;
}

#assignees .licontent {
    witdh: 100%;
    height: 100%;
}

.licontent img{
}

.licontent .name{
    line-height: 25px;
    height: 30px;
    margin: 5px 0 0 3px;
    font-weight:bold;
    display: inline-block;
}

#currentAssigneeName {
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
    height: 15px;
    padding: 12px 43px 3px 4px;
    float: left;
    display: none;
    cursor: pointer;
}

.assignee .avatar {
    cursor: pointer;
    display: block;
    float: left;

}

