#phaseForm  input{
 font-size: 1.1em;
 font-weight: bold;
 text-indent: 4px;
}

#nameWrapper {
 float: left;
 width: 190px;
}

#phaseForm input { width: 100%;}

#cardLimitWrapper{
 width: 80px;
 float: left;
 border: 0px solid blue;
}

label { padding-left: 1px; }

#cardLimitWrapper input{ text-align: right;}

#phaseForm { overflow-x: hidden; }


#phaseForm .content {
 margin: 0 2px 0 2px;
 padding: 2px;
}

.placementWrapper {
 margin: 10px auto;
 border: 1px solid #e3e3e3;
 padding: 10px 20px 10px 20px;
 top: 10px;
 text-align: center;
 float:none;
 
}

.placementWrapper label{
  padding-bottom: 8px;
 display: inline-block;
}

.placementWrapper ul {
 list-style-type: none;
 list-style-image: none;
 display: inline-block;
}

.placementWrapper .phase {
 width: 20px;
 height: 38px;
 overflow: hidden;
 text-align: center;
 float: left;
 margin: 0 1px;
 background-color: #e3e3e3;
}

li.phaseplaceholder{
 list-style-image: url("../images/transparency.png");
 border: 1px solid red;
 background-color: #e3e3e3;
 width: 20px;
 height: 38px;
 opacity: 0.2;
 float: left;
 margin: 0 1px;
}

.old{
 position: relative;
 opacity: 0.34;
 border: 1px solid #000;
}

.old img{
 width: 20px;
 height: 8px;
 position: absolute;
 bottom: 0px;
 left: 0px;
}

.new{
 background-color: #8F9EAE !important;
 border: 1px solid red;
}

.titleName {     
 list-style-type: none;
 list-style-image: none;
 font-weight: bold; 
 font-size: 0.7em;
}