/* blue: #2e83ff */

#mainmenu {
 position: absolute;
 bottom: 3px;
}

/* Not visible for safari */
#mainmenu { bottom: 2px; #}

#mainmenu ul{
 list-style-type: none;
 list-style-image: none;
 margin: 0px;
 padding: 0px;
}

#mainmenu li{
 float: left;
 background-color: #fff;
 color: #444;
 display: inline-block;
 height: 28px;
 margin-right: 3px;
 font-weight: bold;
 -webkit-border-top-left-radius: 6px;
 -webkit-border-top-right-radius: 6px;
 -moz-border-radius-topleft:6px;
 -moz-border-radius-topright:6px;
}

#mainmenu li a {
 padding: 0 18px;
 line-height: 30px;
 display: inline-block;
 
}

#mainmenu a:hover{
 cursor: pointer;
}

#mainmenu a.active{
 color: #000;
 background-color: #f2f2f2;
 cursor: default;
 -webkit-border-top-left-radius: 6px;
 -webkit-border-top-right-radius: 6px;
 -moz-border-radius-topleft:6px;
 -moz-border-radius-topright:6px;
 border-top: 1px solid red;
 border-right: 1px solid red;
 border-left: 1px solid red;
}


/***********/
/* GENERAL */
/***********/


* {
    margin: 0px;
    padding: 0px;
}



body{
    background-color: #fff;
    background-image: url(../images/bg_fade.png);
    background-repeat: repeat-x;
    background-position: 0 34px;
    /*
 	Sets the font 'medium' / standard browser font size to 10px instead of 16px to ez the use of em units
 	1.2 em = 12px
 	...
    */
    font-size: 62.5%;

    /*
        font-family: Tahoma,Verdana,Arial,Helvetica; code.qb.se
	font-family: Verdana; qb.se
    */
    font-family: Arial;
}



a {
    font-size: 1.2em;
    color: #333;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: red;
}

.red {
    color: red !important;
}

.background {  position: absolute; width: 100%; height: 100%; z-index: -1; }

.leveler{ clear: both; }

p { font-size: 1.2em;}
p a { /*cascadefix*/ font-size: 1em;}

h1{}
h2  { font-size: 3.1em; }
h2 *{ font-size: 1em; }
h3  { font-size: 1.4em; }
h3 *{ font-size: 1em; }
h4{}


/********/
/* MENU */
/********/


#menu .background { text-align: center; font-weight: bold; font-size: 1.4em; top: 5px;}
#menu {
    background-color: #888;
    width: 100%;
    border-bottom: 2px solid #000;
    position: fixed;
    z-index: 999;
}

#menu ul {
    list-style-type: none;
    list-style-image: none;
}

#menu li {
    display: inline;
}

#menu li.right {
    float: right;
}

#menu ul a, #menu ul span {
    line-height: 30px;
    display: inline-block;
    padding: 0 18px;
    color: #fdfdfd;
}

#menu a {
    font-weight: bold;
}

#menu a:hover {
    background-color: #666;
    color: #fff;
}

.splitter {
    height: 1px;
    background-color: #000;

}


/*********/
/* BOARD */
/*********/


#spinner {
    z-index: 5000;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    position: absolute;

}
#spinner img{
    display: block;
    margin: auto;
    position: relative;
    text-align: center;
    top: 50%;
}

#wrapper {
    position: relative;

}


#board {
    width: 80em;
    margin: 50px auto 0 auto;
}

.phaseHolder {
    float: left;
    background-color: #fff;
    -moz-box-shadow: 1px 2px 5px #666;
    -webkit-box-shadow: 1px 2px 5px #666;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #666;
}

.phaseHolder h3 {
    text-align: center;
    line-height: 1.1em;
    font-weight: bold;
    overflow: hidden;
    margin-top: 6px;
}

.editPhaseLink{
    display: block;
    position: absolute;
    top: -2px;
    right: 4px;
    width: 19px;
    height: 19px;
    padding: 1px;
    background-image: url(custom-theme/images/ui-icons_222222_256x240.png);
    background-repeat: no-repeat;
    background-position: -174px -110px;
}


.editPhaseLink:hover{
     background-image: url(custom-theme/images/ui-icons_fd0000_256x240.png);
}

#archiveBtn {
    display: block;
    position: absolute;
    top: -2px;
    right: 23px;
    width: 19px;
    height: 19px;
    padding: 1px;
    background-image: url(custom-theme/images/ui-icons_222222_256x240.png);
    background-repeat: no-repeat;
    background-position: 3px -94px;
}

#archiveBtn:hover {
    background-image: url(custom-theme/images/ui-icons_fd0000_256x240.png);
}

#archiveBtn.open {
    background-position: -13px -94px;
}

#archiveBtn.cardHover {
    background-image: url(custom-theme/images/ui-icons_fd0000_256x240.png);
    background-position: -13px -94px;
}



ul.phase {
    list-style: none;
    min-height: 30px;
    padding-bottom: 100px;
}

.card {
    -moz-box-shadow: 1px 2px 5px #666;
    -webkit-box-shadow: 1px 2px 5px #666;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #d8dcdf;
    border: 1px solid;
    height: 7em;
    margin: 4px 4px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.cardSpacer{ margin-top: 4px;}

.myCard {
    background-color: #e3ebf7;
    -moz-box-shadow: 1px 2px 5px #B0D0FF !important;
    -webkit-box-shadow: 1px 2px 5px #B0D0FF !important;
    border: 1px solid #2E83FF !important;
}


.cardTop {
    border-bottom: solid;
    border-width: 1px;
}

.titleWrapper {
    position:relative;
    font-size: 1.2em;
    display: block;
    overflow: hidden;
    line-height: 1.3em;
    height: 1.3em;
}

.cardDescription {
    position: relative;
    border: 1px solid #bbb;
    height: 4em;
    margin: 3px;
    padding: 2px;
    top: 2px;
 }

 p.cardDescriptionInside {
    line-height: 1em;
    font-size: 1em;
    height: 4em;
    overflow: hidden;
    text-align: left;
    position: absolute;
 }

 .cardCaseNumber {
     position: relative;
     float: left;
     padding: 2px;
     font-size: 1em;
 }

 .cardTimeOnBoard {
     position: relative;
     float: right;
     font-size: 1em;
     padding: 2px;
 }
 
 .card .avatar {
     position: absolute;
     margin: 2px;
     bottom: 0px;
     right: 0px;
 }

.placeholder {
    border: 1px solid #e3e3e3;
    margin: 4px 4px 0;
    background-color: #f3f3f3;
    text-align: center;
    height: 7em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 0 2px #e3e3e3 !important;
    -webkit-box-shadow: 0 0 2px #e3e3e3 !important;
}


#phaseList {
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
}

.phaseListHolder{
 background-color:red;
 margin: 0 4px;
 float: left;
}

.phaseWrapper { height: 100px; float: left; }
.phaseHolder { width: 100%; }
.phaseHeader {
    height: 3em;
    position: relative;
}

/*
.phaseHeader .editPhaseLink {
    position: absolute;
    top: 0.4em;
    right: 0.3em;
}
*/
.phaseHeader .limitLine {
    height: 1em;
    background-image: url(../images/head_fade.png);
    text-align: center;
    line-height: 1em;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #fff;
}
