#settings {
    width: 900px;
    position: relative;
    margin: 5px auto;
    margin-top: 0px;
}

.column {
    margin: 1px;
    -moz-box-shadow: 1px 2px 5px #666;
    -webkit-box-shadow: 1px 2px 5px #666;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background:#FFFFFF none repeat scroll 0 0;
    border:1px solid #666666;
    height:90%;
    width: 32%;
    margin: 5px;
}

.columnHeader {
    text-align:center;
}

#users {
    float: left;
}

#userFilter {
    margin: 1px;
    background:#FFFFFF none repeat scroll 0 0;
    border:1px solid #666666;
}

ul.userList {
    list-style: none;
}

ul.roleList {
    list-style: none;
}

.user {
    border-bottom:2px solid #E3E3E3;
    padding: 4px;
    position: relative;
}

.editUser {
    border-bottom:2px solid #E3E3E3;
    padding: 4px;
    position: relative;
}

.userData {
    margin-top: -38px;
    margin-left: 45px;
}

.editUserData {
    margin-top: 3px;
    margin-left: 2px;
    height: 230px;
}

.role {
    border-bottom:2px solid #E3E3E3;
    padding: 4px;
    position: relative;
}

.editRole {
    border-bottom:2px solid #E3E3E3;
    padding: 4px;
    position: relative;
}

.roleData {
    margin-left: 2px;
}

.editRoleData {
    margin-left: 2px;
    height: 98px;
}

#roles {
    float: left;
}

#editField {
    float: left;
}

.property {
    width: 99%;
}

.editInput:hover {
    border: 1px solid #cc0000;
    font-weight: normal;
    color: #fd0000;
    outline: none;
}

.editInput {
    margin-top: 5px;
}

#addUserMenu{
    width: 140px;
    margin: 0 auto;
    height: 20px;
    position: relative;
    border: 1px solid #fd0000;
    border-top: 1px solid #666;
    top: -1px;
    background-image: url(../images/head_fade.png);
    background-repeat: repeat-x;
    background-position: 0 0px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright:6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft:6px;
    text-align: center;
}

#addUserMenu ul{
    display: inline-block;
}

#addUserMenu li{
    float: left;
    display: inline-block;
    height: 20px;
    margin-right: 3px;
}

#addUserMenu a{
    line-height: 20px;
    display: inline-block;
    padding: 0 6px;
    outline: none;
    background-image: url(../images/head_fade.png);
    background-repeat: repeat-x;
    background-position: 0 0;
    color: #fff;
    font-weight: bold;
}

#addUserMenu a:hover{
    color: #fd0000;
}