#settings {
    width: 100%;
    position: absolute;
    top: 36px;
    bottom: 0px;
}

#settings ul{
        list-style: none;
    list-style-type: none;
}



#settings .bottomGfx{
    position: absolute;
    bottom: 10px;
    right: 10px;

}
#settingsMenu {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 300px;
    padding-top: 20px;
}

#settingsMenu ul {
    margin-left: 100px;
    width: 200px;
}
#settingsMenu li {
    line-height: 30px;
    text-align: right;
    margin-left: 10px;
    padding: 0 12px;
    z-index: 200;
    position: relative;
    font-weight: bold;
    font-size: 1.2em;
}

#settingsMenu li.active{
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft:6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft:6px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-right: 0px solid transparent;
    -moz-box-shadow: -2px -1px 3px #e3e3e3;
    -webkit-box-shadow: -2px -1px 5px #e3e3e3;
}

#settingsMenu li.active a {
    color: #fd0000 !important;
}

#settingsContainer {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 299px;
    right: 10px;
    border: 1px solid #e3e3e3;
    -moz-box-shadow: -2px -1px 3px #e3e3e3;
    -webkit-box-shadow: -2px -1px 5px #e3e3e3;
    background-color: #fff;
}


#settingSummary {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 272px;
    min-height: 250px;
    border: 1px solid #e3e3e3;
    background: #fff;
    padding: 4px;
}

#settingSummary p{
    margin-top: 4px;
}

.userColumn {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: 350px;
    border:1px solid #e3e3e3;
}

.userColumn .ui-icon{
    float: left;
    margin: 7px 2px 0 4px
}

.userColumn .ui-icon.right {
    float: right;
    margin: 7px 4px 0 2px;
}

.userColumn a.ui-icon:hover{
   background-image: url(custom-theme/images/ui-icons_fd0000_256x240.png); 
}

#settings .columnHeader{
    border-bottom: 1px solid #e3e3e3;
    line-height: 30px;    
}

ul.userList {
    list-style: none;
}

.user {
    background-image: url(../images/bg_fade.png);
    background-repeat: repeat-x;
    background-position: 0 -245px;
    border-bottom:1px solid #E3E3E3;
    padding: 4px;
    position: relative;
    cursor: pointer;
}

.user .avatar {
    float: left;
    margin-right: 5px;
}


.userFilter{
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #e3e3e3;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 6px !important;
}

#editUserCol{
    position: absolute;
    top: 10px;
    left: 380px;
    z-index: 200;
    max-width: 400px;
    margin-right: 10px;
}

#editUserCol  .ui-icon{
    float: left;
    margin: 8px 2px 0 4px
}

#editUserCol label{
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 29%;
    padding-left: 0px !important;
    font-size: 1.2em;
}
#editUserCol .columnHeader {
    margin-top: 1px;
}

#editUserCol input[type=text],#editUserCol textarea, #editUserCol .roles{
    width: 70%;
    padding: 0;

}

/* Safari and Chrome hack  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
 #editUserCol textarea{  max-width: 70%;  }
}


#editUserCol .roles {
    display: inline-block;
    
}

#editUserCol input[type=submit], #editUserCol button{
    float: right;
    margin: 10px 0 10px 5px;
}

.roleLabel {
    line-height: 20px;
}

#editUserCol .editUser{
    margin-top: 10px;
}


div.message {
    padding: 5px;
    clear: both;
    line-height: 1.4em;
}

div.message .ui-icon {
    float: left;
    margin: 0px !important;   
}



/*

.editUser {
    border-bottom:2px solid #E3E3E3;
    position: relative;
}



.editUserData {
    margin-top: 3px;
    margin-left: 2px;
    height: 260px;
}

.editInput:hover {
    border: 1px solid #cc0000;
    font-weight: normal;
    color: #fd0000;
    outline: none;
}

.editInput {
    margin-top: 5px;
}
*/