
#userForm  .header {
 height: 46px;
 margin: 0 2px 4px;
 padding: 2px;
 border-bottom: 1px solid #ddd;
 position: relative;
}

#userForm .create {
    margin-left: 12px;
}

#userForm .header .avatar {
 float: left;
 padding:2px;
 background-color: #fdfdfd;
 border: 1px solid #000;
 min-height: 38px;
 min-width: 38px;
 position: relative;
 margin: 2px 0 0 31px;
}

#userForm .header input{
 position: relative;
 font-size: 20px;
 font-weight: bold;
 margin: 0 0 0 2px !important;
 text-indent: 4px;
 width: 291px;
}

#userForm .header label{
    margin-bottom: 1px;
    padding-left: 3px;
    width: auto !important;
}

#userForm label, #userForm .label{
    padding-left: 4px;
    display: inline-block;
    width: 74px;
    text-align: right;
    margin-top: 2px;
}



#userForm .label{
    vertical-align: top;
}

#userForm .roles{
    border-top: 1px solid #e3e3e3;
    margin-top: 2px;
    padding-top: 2px;

}
#userForm .roles ul{
    margin: 0 25px;
    padding-top: 2px;
    list-style-type: katakana;
    display: inline-block;
}

#userForm input{
     margin-top: 2px;
     width: 291px;
}

#userForm label[for=description]{
    vertical-align: top;

}

#userForm .confirmPass {
    padding-top: 20px;
    text-align: center;
}

#userForm .confirmPass label{
    width: 150px;
    display: inline;
    font-weight: bold;
}

#userForm .confirmPass input{
    width: 133px
}

#userForm .password label{
    width: 150px;
    font-weight:bold;
}

#userForm .password input{
    width: 133px;
}

#userForm textarea[name=description]{
    display: inline-block;
    width: 301px;
    max-width: 301px;
    height: 152px;
    padding: 2px;
    margin-top: 2px;

}

/* Safari and Chrome hack  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
 #tafix  { width: 291px !important; max-width: 291px !important  }
}


#passwordForm h4{
    text-align: left;
    font-weight:normal;
}

#passwordForm input{
    width: 137px;
}

#passwordForm label{
    width: 135px;
    display: inline-block;
    text-align: right;
}